body {
	background: #0E0E16;
	background-repeat: no-repeat;
	background-image: url(logo.png);
	background-position: center;
	width: 95vw;
	height: 95vh;
	overflow: hidden;
}

@media (max-width: 800px) {
	body {
		background-size: 80%;
	}
}