/* Neutral colors */
$neutral-50: #ffffff;
$neutral-60: #ededef;
$neutral-80: #e4e4e9;
$neutral-100: #c8c8cc;
$neutral-200: #bdbdc3;
$neutral-300: #a0a0ab;
$neutral-400: #8d8d9c;
$neutral-500: #60606a;
$neutral-600: #4c4c58;
$neutral-700: #2b2b31;
$neutral-800: #1f1f24;
$neutral-900: #151519;
$neutral-950: #0b0b0e;

/* Primary colors */
$primary-50: #ffede6;
$primary-100: #ffc8b0;
$primary-200: #ffad8a;
$primary-300: #ff8854;
$primary-400: #ff6e2f;
$primary-500: #f04900;
$primary-600: #d44000;
$primary-700: #b53700;
$primary-800: #8c2a00;
$primary-900: #6b2000;

/* Pink colors */
$pink-50: #feedf0;
$pink-100: #fbc7d1;
$pink-200: #f9abbb;
$pink-300: #f7859c;
$pink-400: #f56d89;
$pink-500: #f3496b;
$pink-600: #dd4261;
$pink-700: #ad344c;
$pink-800: #86283b;
$pink-900: #661f2d;

/* Blue colors */
$blue-50: #e6f1fc;
$blue-100: #b1d4f6;
$blue-200: #55a1ec;
$blue-300: #358fe9;
$blue-400: #358fe9;
$blue-500: #0273e3;
$blue-600: #0269cf;
$blue-700: #0152a1;
$blue-800: #013f7d;
$blue-900: #01305f;

/* Green colors */
$green-50: #ebf4ed;
$green-100: #c1ddc8;
$green-200: #a3ccad;
$green-300: #78b588;
$green-400: #5ea771;
$green-500: #36914d;
$green-600: #318446;
$green-700: #266737;
$green-800: #1e502a;
$green-900: #173d20;

/* Yellow colors */
$yellow-50: #fef9e8;
$yellow-100: #faecb8;
$yellow-200: #f8e395;
$yellow-300: #f5d665;
$yellow-400: #f3ce47;
$yellow-500: #f0b00d;
$yellow-600: #da9617;
$yellow-700: #aa6612;
$yellow-800: #84490e;
$yellow-900: #65340b;

/* Red colors */
$red-50: #feeceb;
$red-100: #fbc4c1;
$red-200: #f9a7a3;
$red-300: #f67f79;
$red-400: #f4665f;
$red-500: #f14037;
$red-600: #db3a32;
$red-700: #ab2d27;
$red-800: #85231e;
$red-900: #651b17;
