@use "_primitives" as *;

:root {
  --font-clash-display: "Clash Display";
  --font-geist: "Geist Sans";
  --font-geist-mono: "Geist Mono";

  // Default values
  --surface-primary: #{$neutral-950};
  --surface-secondary: #{$neutral-900};
  --surface-tertiary: #{$neutral-800};
  --surface-accent: #{$neutral-500};

  --text-heading: #{$neutral-50};
  --text-primary: #{$neutral-100};
  --text-secondary: #{$neutral-200};
  --text-tertiary: #{$neutral-300};

  --brand-surface: #{$primary-500};
  --brand-hover: #{$primary-600};
  --brand-disabled: #{$primary-700};
  --brand-accent: #{$primary-900};
  --brand-text: #{$primary-50};
  --brand-text-disabled: #{$primary-200};
  --brand-text-accent: #{$primary-50};

  --pink-surface: #{$pink-500};
  --pink-hover: #{$pink-600};
  --pink-disabled: #{$pink-700};
  --pink-accent: #{$pink-900};
  --pink-text: #{$pink-50};
  --pink-text-disabled: #{$pink-200};
  --pink-text-accent: #{$pink-50};

  --blue-surface: #{$blue-500};
  --blue-hover: #{$blue-600};
  --blue-disabled: #{$blue-700};
  --blue-accent: #{$blue-900};
  --blue-text: #{$blue-50};
  --blue-text-disabled: #{$blue-200};
  --blue-text-accent: #{$blue-50};

  --green-surface: #{$green-500};
  --green-hover: #{$green-600};
  --green-disabled: #{$green-700};
  --green-accent: #{$green-900};
  --green-text: #{$green-50};
  --green-text-disabled: #{$green-200};
  --green-text-accent: #{$green-50};

  --yellow-surface: #{$yellow-500};
  --yellow-hover: #{$yellow-600};
  --yellow-disabled: #{$yellow-700};
  --yellow-accent: #{$yellow-900};
  --yellow-text: #{$yellow-50};
  --yellow-text-disabled: #{$yellow-200};
  --yellow-text-accent: #{$yellow-50};

  --red-surface: #{$red-500};
  --red-hover: #{$red-600};
  --red-disabled: #{$red-700};
  --red-accent: #{$red-900};
  --red-text: #{$red-50};
  --red-text-disabled: #{$red-200};
  --red-text-accent: #{$red-50};
}

[data-theme="black"] {
  // Default values
  --surface-primary: #000;
  --surface-secondary: #{$neutral-950};
  --surface-tertiary: #{$neutral-900};
}

[data-theme="light"] {
  // Override values for light theme
  --surface-primary: #{$neutral-50};
  --surface-secondary: #{$neutral-60};
  --surface-tertiary: #{$neutral-80};

  --text-heading: #{$neutral-950};
  --text-primary: #{$neutral-800};
  --text-secondary: #{$neutral-700};
  --text-tertiary: #{$neutral-600};

  --brand-surface: #{$primary-500};
  --brand-hover: #{$primary-600};
  --brand-disabled: #{$primary-300};
  --brand-accent: #{$primary-50};
  --brand-text: #{$primary-50};
  --brand-text-disabled: #{$primary-700};
  --brand-text-accent: #{$primary-900};

  --pink-surface: #{$pink-500};
  --pink-hover: #{$pink-600};
  --pink-disabled: #{$pink-300};
  --pink-accent: #{$pink-50};
  --pink-text: #{$pink-900};
  --pink-text-disabled: #{$pink-700};
  --pink-text-accent: #{$pink-50};

  --blue-surface: #{$blue-500};
  --blue-hover: #{$blue-600};
  --blue-disabled: #{$blue-300};
  --blue-accent: #{$blue-50};
  --blue-text: #{$blue-900};
  --blue-text-disabled: #{$blue-700};
  --blue-text-accent: #{$blue-50};

  --green-surface: #{$green-500};
  --green-hover: #{$green-600};
  --green-disabled: #{$green-300};
  --green-accent: #{$green-50};
  --green-text: #{$green-900};
  --green-text-disabled: #{$green-700};
  --green-text-accent: #{$green-50};

  --yellow-surface: #{$yellow-400};
  --yellow-hover: #{$yellow-600};
  --yellow-disabled: #{$yellow-300};
  --yellow-accent: #{$yellow-50};
  --yellow-text: #{$yellow-900};
  --yellow-text-disabled: #{$yellow-700};
  --yellow-text-accent: #{$yellow-50};

  --red-surface: #{$red-500};
  --red-hover: #{$red-600};
  --red-disabled: #{$red-300};
  --red-accent: #{$red-50};
  --red-text: #{$red-900};
  --red-text-disabled: #{$red-700};
  --red-text-accent: #{$red-50};
}
