---
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import "../styles/global.scss";

const theme: string = "dark"; // "light"

---

<html lang='en' data-theme={theme}>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name="viewport" content="width=device-width" />
    <meta name='generator' content={Astro.generator} />
    <title>voicenext</title>
  </head>
  <body
    class='bg-surface-primary text-center font-body text-text-primary flex flex-col lg:flex-row mt-0 md:mt-lg lg:mt-0 items-center justify-center min-h-screen w-full gap-sm lg:gap-4md overflow-hidden'
  >
    <div class='flex flex-col items-center gap-sm max-w-2xl'>
      <h1 class='font-display text-4xl sm:text-6xl tracking-tight text-balance'>
        communication that is super <span class='text-brand-surface'
          >easy and fast</span
        >
      </h1>
      <p class='md:text-2xl sm:text-lg text-base text-balance'>
        voicenext helps you communicate with your friends just by holding down
        to speak and tapping to listen
      </p>
      <div class='flex flex-col items-center gap-xs w-3xl max-w-full'>
        <div class='flex justify-center items-center gap-xs w-3/4 md:w-full'>
          <Input
            type='email'
            placeholder='email'
            id='email'
            name='email'
          />
          <Button
            label='join waitlist'
            variant='secondary'
            className='min-w-fit'
            id="submit"
          />
          </div>
        <p class='footnote'>
          will be available on <img
            src='/icons/android.svg'
            class='inline align-text-bottom'
          /> &
          <img src='/icons/apple.svg' class='inline align-text-bottom' />
        </p>
      </div>
    </div>
    <img
      src='/images/mockup.png'
      class='md:h-[640px] md:w-[556.17px] w-[347.61px] h-[400px]'
    />
    <script src="../lib/submit.ts"></script>
  </body>
</html>