---
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";
import "../styles/global.scss";
const theme: string = "dark"; // "light"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>voicenext</title>
  </head>
  <body
    class=`bg-surface-primary text-center font-body text-text-primary ${theme} min-h-screen flex items-center justify-center`
  >
    <div class="max-w-[520px] mx-auto space-y-[24px] px-[10px] text-center">
      <h1 class="font-display text-4xl sm:text-5xl tracking-tight">
        communication that is super <span class="text-brand-surface"
          >easy and fast</span
        >
      </h1>
      <p class="text-base sm:text-xl">
        voicenext helps you communicate with your friends just by holding down
        to speak and tap to listen
      </p>
    </div>
  </body>
</html>
