---
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
import Layout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <div
    class='flex flex-col lg:flex-row items-center justify-center gap-sm lg:gap-4md w-full'
  >
    <div
      class='flex flex-col items-center gap-xs md:gap-sm max-w-2xl w-[90%] md:w-[75%]'
    >
      <h1
        class='font-display text-4xl md:text-6xl tracking-tight text-balance w-full'
      >
        communication that is super <span class='text-brand-surface'
          >easy and fast</span
        >
      </h1>
      <p class='md:text-2xl sm:text-lg text-base text-balance'>
        voicenext helps you communicate with your friends just by holding down
        to speak and tapping to listen
      </p>
      <div class='flex flex-col items-center gap-xs w-3xl max-w-full'>
        <div class='flex justify-center items-center gap-xs w-[95%] md:w-3/4'>
          <Input type='email' placeholder='email' id='email' name='email' />
          <Button
            label='join waitlist'
            variant='secondary'
            className='min-w-fit'
            id='beta-signup-button'
            data-umami-event='Beta Signup'
          />
        </div>
        <p class='footnote'>
          will be available on <img
            src='/icons/android.svg'
            class='inline align-text-bottom'
            alt='android'
          /> &
          <img
            src='/icons/apple.svg'
            class='inline align-text-bottom'
            alt='apple/iOS'
          />
        </p>
      </div>
    </div>
    <Image
      src='/images/mockup.png'
      class='md:h-[640px] md:w-[556.17px] w-[347.61px] h-[400px] object-cover'
      alt='A screenshot showcasing the voicenext app, with built in accessibility features!'
      width={347.61}
      height={400}
    />
  </div>
  <script src='../lib/submit'></script>
</Layout>
