---
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";
import "../styles/global.scss";
import Footer from "@/components/footer.astro";

const theme: string = "dark"; // "light"
---

<!doctype html>
<html lang='en' data-theme={theme}>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <link rel='me' href='https://mastodon.social/@voicenext' />
    <title>voicenext</title>
  </head>
  <body
    class='bg-surface-primary text-center font-body text-text-primary min-h-screen w-full overflow-x-hidden fixed flex justify-center items-center'
  >
    <slot />
    <Footer additionalClass='absolute bottom-0 !p-xs sm:!p-2sm' />
  </body>
</html>
