---
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";
import "../styles/global.scss";
import Footer from "@/components/footer.astro";

const theme: string = "dark"; // "light"
---

<!doctype html>
<html lang="en" data-theme={theme}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="me" href="https://mastodon.social/@voicenext" />
    <script
      defer
      src="https://analytics.voicenext.app/script.js"
      data-website-id="e41ddde2-8df5-4ed9-8a07-e807dd337f16"></script>
    <title>voicenext</title>
  </head>
  <body
    class="bg-surface-primary font-body text-text-primary min-h-screenoverflow-x-hidden px-[20%] pb-2sm"
  >
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
